*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #e7dfdf;

}
.container{
    max-width: 600px;
    border: 2px solid black;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: white;

}
h1{
    text-align: center;
    margin-bottom: 20px;
}
label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    width: 100%;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #218838;
}
#total{
    display: block;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
