*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background:linear-gradient(to left top ,yellow,lightblue,yellow);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: darkcyan;
}

.container{
    background: rgba(255, 255, 255, 0.3);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    width: 85%;
    max-width: 450px;
    border-radius: 4px;  
}

h1{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    justify-content: center;
}
label{
    font-size:x-large;
    font-weight: bold;
}
input{
    width: 100%;
    padding: 10Px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(10, 6, 250, 0.3);
    font-size: 18px;
    color: darkblue;
    outline: none;
}

#Error{
    color: red;
}